

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->


                        <!-- Begin Page Content -->
                        <div class="container-fluid">
                            <h2>Ajouter universite</h2>
                            <form   >
                                <div>
                                <label for="exampleFormControlInput1">Nom de l'universités</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="name" formControlName="name"   >
                            
                         
                                </div>
                                <div>
                                    <label for="exampleFormControlInput1">URL</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="url" formControlName="url" >
                                
                                </div>

    
                                <div>
                                    <label for="exampleFormControlInput1">Image</label><br>
                                    <input type="text" name="mon_fichier"  placeholder="imge"  formControlName="image" class="form-control"   >
                                 
                                </div>
                                
                                
    
                                <div>
                                  <label for="exampleFormControlInput1">Lieu</label><br>
                                  <input type="text" name="mon_fichier"  placeholder="lieu" class="form-control"   formControlName="lieu" >
                             
                              </div>
                              <div>
                                <label for="exampleFormControlInput1">Frais d'inscription</label><br>
                                <input type="text" name="mon_fichier"  class="form-control"  placeholder="fraisInscription"  formControlName="fraisInscription" >
                                
                                </div>
                                
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" routerLink="/gestionUniversite">Ajouter</button>
                                </div>
                            </form>
                    </div>