
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          
             
            <a class="dropdown-item"routerLink="/login" >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                login
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4"></h1>
       
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"> <img class="img-profile " width="200" height="250"

                src="assets/img/itbs.jpg"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://itbs.tn/"> itbs</a>
                </h4>
                <h5>frais d'inscription : 400 dt </h5>
                <p class="card-text">IT Business School est implantée dans un campus universitaire entre Nabeul et Hammamet,
                   à 50 minutes de l’aéroport de Tunis Carthage. Notre réseau est également présent en France, au Canada et à New York.
                   Nos diplômes sont reconnus en Tunisie et à l’étranger et accrédités par l’Ordre des Ingénieurs en Tunisie</p>
                
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"> <img class="img-profile" width="200" height="250"
                src="assets/img/esprit.png"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://esprit.tn/">esprit</a>
                </h4>
                <h5>frais d'inscription : 500 dt</h5>
                <p class="card-text">Fondée en 2003 à l’initiative de trois universitaires ayant conduit de nombreux projets dans l’enseignement supérieur tunisien, et dans l’enseignement supérieur technique en particulier, entourés de plusieurs dizaines de leurs collègues, ainsi que d’entreprises TIC et de partenaires financiers, 
                  Esprit a dès le départ mis en place des formations basées sur des valeurs intangibles :</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

       

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"> <img class="img-profile " width="200" height="250"
                src="assets/img/carthage.jpg"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="http://www.ucar.rnu.tn/">carthage</a>
                </h4>
                <h5>frais d'inscription : 1000 dt</h5>
                <p class="card-text">L'université de Carthage (UCAR), fondée en 1988, est un établissement public tunisien de formation et de recherche 
                  qui est placé sous la tutelle du Ministère de l'Enseignement Supérieur et de la Recherche Scientifique.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

         

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->


  </div>
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright  2020-2021</p>
    </div>
    <!-- /.container -->
  </footer>
  

